@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  background-color: #0080ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 15px;
}

h2{
  border: 1px solid;
  background-color: #ffbf00;
  border-radius: 5px;
}

.room-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room5-container {
  text-align: center;
  margin: 50px;
}

.room6-container {
  text-align: center;
  margin: 50px;
}

.room8-container {
  text-align: center;
  margin: 50px;
}

.room12-container {
  text-align: center;
  margin: 50px;
}

.row {
  display: flex;
}

.day {
  background-color: #b3cccc;
  width: 25px;
  height: 25px;
  margin: 2px;
  text-align: center;
  font-size: smaller;
  border-radius: 3px;
}

.day:hover {
  cursor: pointer;
  transform: scale(1.25);
}



.day.reserved {
  background-color:	#00bfff;
}

.day.selected {
  background-color: #ffbf00;
}

.form-container {
  padding: 0 40px;
  width: 400px;
}

.form-container h2 {
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  font-size: 14px;
  margin-bottom: 2px;
}

.form-control select {
  text-align: center;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #b3cccc;
  border-radius: 5px;
  cursor: pointer;
}

.form-control input {
  border: 2px solid #b3cccc;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #0080ff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}
